/* Colors
#FF7100
#000000
#FFFFFF */
body{
    font-family: "Allerta Stencil", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin:0px;
}
header{
    background-color: #000;
    display:flex;
}
#search{
    margin-left:50px;
}
#login{
    flex-grow:.3;
}
#search, #login{
    margin-top:15px;
}
nav{
    flex-grow: 1.5;
    display: flex;
    justify-content: center;
}
header a{
    color:#FF7100;
}
nav li{
    display:inline-block;
    margin-left: 50px;
    text-align: center;
}
nav li a{
    color:#FFF;
    text-decoration: none;
    list-style-type: none;
    font-size: 1.25em;
}
h1{
    font-size: 2.5em;
    font-weight: 900;
    background-color: #FFFFFFAF;
}
h2{
    color:#FF7100;
    background-color: #000;
    font-size: 1em;
    display:inline;
    padding:20px;
}
#header2{
    position: relative;
}
#frontCenterText{
    position:absolute;
    top:45%;
    left:50%;
    transform:translate(-50%,-50%);
}
#frontCenterTextWrapper{
    text-align: center;
}

#centerHeading{
    text-align:center;
}
#gallery{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap:.2%;
    margin-bottom:5px;
}

form, #orderSummary{
    margin: 0 auto;
    min-width: 350px;
    max-width: 600px;
    padding: 1em;
    color:black;
}
#orderSummary{
    line-height: 1.5em;
}
fieldset, form{
    border: none;
    background-color: white;
}
button, input[type="file"]::file-selector-button{
    height:3em;
    border: 1px solid #909090;
    color:#FFF;
    background-color: #000;
    font-weight: 900;
}
input[type="file"]::file-selector-button{
    margin-left:70px;
    font-family: "Allerta Stencil", sans-serif;
    font-weight: 400;
    font-style: normal;
}
#buttons{
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap:5%;
    margin-top: 5px;
}
#contactInfo, #dropdown{
    display:grid;
    line-height: 2em;
    grid-template-columns: 1fr 3fr;
    width:100%;
}
#numShirtField{
    display:grid;
    line-height: .9em;
    grid-template-columns: 1fr 3fr;
    width:100%;
}
#contactInfo label, #contactInfo input {
    margin:5px;
}
#shirtColor, #numShirt{
    height: 2em;
    width:400px;
    margin-left: 45px;
}

#shirtSize, #imagePlacement{
    display:flex;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    flex-wrap: nowrap;
    gap:70px;
}
footer{
    background-color: #FF7100;
    color:#000;
    text-align: center;
    padding-top: 10px;
}
footer p{
    margin:0px;
}